body{
    background-color: #eeedea;
}


/*CENTER */
.reminder, .row_price, .updt, .row_id, th, .row_name{
    text-align: center;
}

.row_id{
    font-weight: 500;
}


.content-table{
    /* border: 2px solid rgb(0, 0, 0); */
    width: 50%;
    margin-inline: auto;
    background-color: #d6d5cf;
}


th{
    border-bottom: 2px solid #384436 ;
    border-top: 2px solid #384436;
    padding: 15px 5px 15px 5px; 
    background-color: #50574f;
    color: white;
}


td{
    border-top: 1.5px solid rgb(56, 68, 54, 0.5);
    padding: 5px;
    border-left: none;
}

tr:nth-child(odd){
    background-color: rgb(176, 155, 114,0.3);
}

tr:nth-child(odd):hover{
    background-color: rgb(179, 165, 135);/*rgb(158, 144, 114)*/
    transition: 0.35s ease-out;
}

tr:nth-child(even):hover{
    background-color: #8f9b8c; /*#8f9b8c*/
    transition: 0.35s ease-out;
}

/*button*/
.update_button{
    border:none;
    border-radius: 5px;
    font-weight: 500;
    background-color: #70a870;
}

/* text box */
.input_box{
    background-color: rgb(228, 221, 221);
    border: 1.25px solid black;
}

.Logo{
    aspect-ratio: 1/1;
    width: 5vw;
}

.home{
    position: relative;
    background-color: #677266;
    border: 2px solid #677266;
    color: white;
    text-decoration: none;
    border-radius: 5px;  
    padding-inline: 10px;
    margin-left: 2vw;
    top: 2vh;
}